#header {
  color: #0F0;
  background-color: #0F0;
  border-radius: 15px;
  text-shadow: 1px red;
  -moz-animation: alternate;
  -o-animation: alternate;
  -webkit-animation: alternate;
  animation: alternate;
}
h2,
h1 {
  color: #0F0;
}
#box {
  border-left: 5px;
}
#img {
  background-image: url('../imgs/image.jpg');
}